BOT_TOKEN=8728407655:AAHaJ6sABIoxyGSJF2Jt4h2kPOxOSYItkuA
ADMIN_IDS=7012145516,8412175480
DB_PATH=crm_bot.db

# Google Sheets integratsiyasi
GOOGLE_SERVICE_ACCOUNT_EMAIL=agu-crm-571@symbolic-gift-472810-b4.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIEvQ...<to'liq kalit>\n-----END PRIVATE KEY-----\n
SPREADSHEET_ID=1FlqWfLAbeJtc1M3Cnw5LDn4inSsuqaOHXUNXdrVFx2Y
